<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Components</li>

                <li>
                    <a href="/mgp-rummy/api/admin/dashboard" class="waves-effect">
                      <i class="mdi mdi-view-dashboard"></i>
                      <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/mgp-rummy/api/admin/user-listing" class=" waves-effect">
                        <i class="mdi mdi-account-box"></i>
                        <span>User Management</span>
                    </a>
                </li>
                
                <li>
                    <a href="/mgp-rummy/api/admin/cms-management" class="waves-effect">
                        <i class="mdi mdi-table-settings"></i><span class="badge badge-pill badge-primary float-right"></span>
                        <span>CMS Management </span>
                    </a>
                </li>

                <li>
                    <a href="/mgp-rummy/api/admin/user-report-management" class="waves-effect">
                        <i class="mdi mdi-account-alert"></i><span class="badge badge-pill badge-primary float-right"></span>
                        <span>User Report Management </span>
                    </a>
                </li>

               

                <!-- <li>
                    <a href="/notifications" class=" waves-effect">
                        <i class="mdi mdi-email-outline"></i>
                        <span>Notification Management</span>
                    </a>
                </li> -->

                <li>
                    <a href="/game-records" class=" waves-effect">
                        <i class="mdi mdi-responsive"></i>
                        <span>Game Records</span>
                    </a>
                </li>
                
                <li >
                    <a href="/mgp-rummy/api/admin/table-management" class=" waves-effect">
                        <i class="mdi mdi-clipboard-outline"></i>
                        <span id="tableManagement">Table Management </span>
                    </a>
                </li>

                <li >
                    <a href="/mgp-rummy/api/admin/tournament-management" class=" waves-effect">
                        <i class="mdi mdi-tournament"></i>
                        <span id="tournamentManagement">Tournament Management</span>
                    </a>
                </li>

                <li>
                    <a href="/mgp-rummy/api/admin/kyc-management" class="waves-effect">
                      <i class="mdi mdi-account-edit"></i>
                      <span>KYC Management</span>
                    </a>
                </li>


                <li>
                    <a href="/referrals" class=" waves-effect">
                        <i class="mdi mdi-share-variant"></i>
                        <span>Referral List</span>
                    </a>
                </li>
                
                <li >
                    <a href="/mgp-rummy/api/admin/notification-management" class=" waves-effect">
                        <i class="mdi mdi-bell"></i>
                        <span id="tableManagement">Notification Management </span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>